<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landind Page</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    
<main class="h-[500px] bg-blue-600 flex justify-evenly items-center">
    <section class="h-[400px] w-[1200px] border-2 flex  justify-evenly items-center ">


        <div class="h-[200px] flex flex-col justify-evenly w-[560px] border-2" >
            <div>

                <p class="text-4xl  text-white font-bold">Discover the World`s best coffee</p>
                </div>

                <div>

                    
                    <p class="text-white">From hand-picked farms to yors cup, we source the finest beans and roast them to perfection</p>
                    </div>

                    <div>

                        <a href=""><button class="px-2 py-1 bg-white text-blue-600 rounded-[20px]">Shop Now</button></a>
                        </div>
        </div>

        <!--  -->

        <div class="h-[300px] w-[500px] border-2">
            <img src="./robusta-coffee.jpg" alt="" class="h-[300px] w-[500px] object-cover">
        </div>
    </section>
</main>



<!-- featured -->
<p> featured products</p>

<main class="h-[700px] border-2">
    <section class="h-[500px] flex justify-evenly  border-2">

        <div class="h-[500px] w-[400px] flex flex-col justify-evenly  border-2">

            <div class="h-[300px] border-2">
                <img src="./painting-mountain.avif" alt="" class="h-[300px] object-cover">
            </div>

            <div >
                <p class="text-xl font-bold">single Origin Blend</p>
            </div>

            <div>
                <p>Our most popular blend,featuring beans from a singel farm in Ethipia. Notes of chocolate,berries and citrus.</p>
            </div>

            <div class="flex justify-between">
                <p class="font-bold ml-3">$14.99</p>

                <a href=""> <button class="px-4 py-1 bg-blue-600 text-white rounded-[30px] mr-3">Add to Cart</button></a>
            </div>

        </div>
        <div class="h-[500px] w-[400px] flex flex-col justify-evenly  border-2">

            <div class="h-[300px] border-2">
                <img src="./painting-mountain.avif" alt="" class="h-[300px] object-cover">
            </div>

            <div >
                <p class="text-xl font-bold">single Origin Blend</p>
            </div>

            <div>
                <p>Our most popular blend,featuring beans from a singel farm in Ethipia. Notes of chocolate,berries and citrus.</p>
            </div>

            <div class="flex justify-between">
                <p class="font-bold ml-3">$14.99</p>

                <a href=""> <button class="px-4 py-1 bg-blue-600 text-white rounded-[30px] mr-3">Add to Cart</button></a>
            </div>

        </div>
        <div class="h-[500px] w-[400px] flex flex-col justify-evenly  border-2">

            <div class="h-[300px] border-2">
                <img src="./painting-mountain.avif" alt="" class="h-[300px] object-cover">
            </div>

            <div >
                <p class="text-xl font-bold">single Origin Blend</p>
            </div>

            <div>
                <p>Our most popular blend,featuring beans from a singel farm in Ethipia. Notes of chocolate,berries and citrus.</p>
            </div>

            <div class="flex justify-between">
                <p class="font-bold ml-3">$14.99</p>

                <a href=""> <button class="px-4 py-1 bg-blue-600 text-white rounded-[30px] mr-3">Add to Cart</button></a>
            </div>

        </div>

    </section>
</main>

</body>
</html>