<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  
<main class="flex justify-evenly items-center  h-[700px] ">
    <section class="flex gap-5 h-[600px] ">

        <div class="card relative ">
            <div class="box1  ">
                <img class="object-cover hover:brightness-[109%] duration-1000		   h-[300px] w-[300px] " src="./img/Health-Benefits-of-Traveling.jpg" alt="">

                <div class=" h-20 w-20 z-10 absolute bottom-[410px] left-[218px] rounded-[100%] flex items-center hover:bg-white  hover:text-blue-800 font-bold bg-blue-600 text-white justify-center flex-col duration-1000	"><h1 class="text-xl">27 </h1>
                <h1>March</h1></div>
            </div>

            <div class="absolute h-[40px] w-[100px] text-white duration-1000	 bg-blue-700 bottom-[200px] flex items-center justify-center hover:bg-yellow-200 hover:text-black t"> <h1>Photos</h1></div>
        <div class="box2">
            <h1 class="item_name">Best View in Newyowk City</h1>

            <p>The city Never sleeps</p>

            <div class="h-[100px] w-[300px] ml-4 mt-5 flex items-center gap-3">
                <i class="fa-regular fa-clock"></i>
                <p class="font-bold">6 Min Ago</p>
            </div>

        </div>
    </div>


        <div class="card relative ">
            <div class="box1  ">
                <img class="object-cover hover:brightness-105	duration-1000	   h-[300px] w-[300px] " src="./img/istockphoto-938742222-612x612.jpg" alt="">

                <div class=" h-20 w-20 z-10 absolute bottom-[410px] left-[218px] rounded-[100%] flex items-center hover:bg-white duration-1000	  hover:text-blue-800 font-bold bg-blue-600 text-white justify-center flex-col"><h1 class="text-xl">20 </h1>
                <h1>March</h1></div>
            </div>

            <div class="absolute h-[40px] w-[100px] duration-1000	 text-white bg-blue-700 bottom-[200px] flex items-center justify-center hover:bg-yellow-200 hover:text-black t"> <h1>Photos</h1></div>
        <div class="box2">
            <h1 class="item_name">Best Pizza in Town</h1>

            <p>The collection of best pizza images in Newyork city sleeps</p>

            <div class="h-[100px] w-[300px] ml-3 flex items-center gap-3">
                <i class="fa-regular fa-clock"></i>
                <p class="font-bold">3 Min Read</p>
            </div>

        </div>
    </div>


        <div class="card relative ">
            <div class="box1  ">
                <img class="object-cover hover:brightness-205	duration-1000	   h-[300px] w-[300px] " src="./img/chopped-power-salad-with-chicken-0ad93f1931524a679c0f8854d74e6e57.jpg" alt="">

                <div class=" h-20 w-20 z-10 absolute bottom-[410px] left-[218px] rounded-[100%] flex items-center hover:bg-white duration-1000	  hover:text-blue-800 font-bold bg-blue-600 text-white justify-center flex-col"><h1 class="text-xl">15 </h1>
                <h1>March</h1></div>
            </div>

            <div class="absolute h-[40px] w-[100px] duration-1000	 text-white bg-blue-700 bottom-[200px] flex items-center justify-center hover:bg-yellow-200 hover:text-black "> <h1>Photos</h1></div>
        <div class="box2">
            <h1 class="item_name">Besxt View in Newyowk City</h1>

            <p>The collection of best salad picture in Newyork city sleeps</p>

            <div class="h-[100px] w-[300px] ml-3 flex items-center gap-3">
                <i class="fa-regular fa-clock"></i>
                <p class="font-bold">6 Min Read</p>
            </div>

        </div>
    </div>



   </section>
</main>

</body>
</html>