*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body,html{
    height: 100%;
    width: 100%;
}

.main
{
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

.word
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 400px;

}
.input-text
{
    height: 30px;
    width: 200px;
}

button{
    height: 30px;
    width: 100px;
    border-radius: 39px;
    
}

#word-counnts
{
    display: flex;
    gap: 10px;
    font-size: 30px;
    color: #000;
    font-weight: bolder;
}