<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREQUENTLY</title>

    <link rel="stylesheet" href="output.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main class="h-[700px] flex flex-col gap-4">
<div class="text-center">
    
    <p class="text-4xl font-bold mb-[100px] mt-[100px]">Frequently Asked <span class="text-[blue]">Questions</span></p>
    </div>

    <section class="h-[600px]   flex justify-center items-center">

        <main class="h-[600px] w-[700px] flex flex-col gap-9" >
            
            
            <section class="flex gap-2">
               <div class="class= h-[50px] rounded-[100%]  w-[50px]  flex justify-center items-center bg-[blue] text-white">
                <i class="fa-solid fa-question text-2xl "></i>
               </div>
   
   
            <div class="h-[50px] w-[600px]  bg-[rgba(255,205,200,0.2)] flex justify-center items-center font-bold">
                <p class="text-xl ">What could possibly be your first question ?</p>
            </div>
            </section>   
            <section class="flex gap-2">
                <div class="h-[100px] w-[600px] flex justify-center items-center bg-[rgba(255,205,200,0.2)]">
                    <p class="font-bold text-[14px]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, magnam quod. Eveniet, a eaque dolorem tempora dolor vel alias quidem minima praesentium? Ut corporis tenetur quo.</p>
                </div>
            <div class="class= h-[70px] flex justify-center items-center bg-[blue]  text-white rounded-[100%]  w-[70px] ">
                <i class="fa-solid fa-brain text-4xl "></i>
            </div>
        
        
        </section>

        <!--  -->
    
<section class="flex gap-2">
         <div class="class= h-[50px] rounded-[100%]  w-[50px] flex justify-center items-center bg-[blue] text-white">
          <i class="fa-solid fa-question text-2xl "></i>
         </div>
        <div class="h-[50px] w-[600px]  bg-[rgba(255,205,200,0.2)] flex justify-center items-center font-bold">
            <p class="text-xl ">What could possibly be your first question ?</p>
        </div>
    </section>   

     <section class="flex gap-2">
                <div class="h-[100px] w-[600px]  flex justify-center items-center bg-[rgba(255,205,200,0.2)]">
                    <p class="font-bold text-[14px]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, magnam quod. Eveniet, a eaque dolorem tempora dolor vel alias quidem minima praesentium? Ut corporis tenetur quo.</p>
                </div>
            <div class="class= h-[70px] flex justify-center items-center bg-[blue]  text-white rounded-[100%]  w-[70px]">
                <i class="fa-solid fa-brain text-4xl "></i>
            </div>
        
        
        </section>

            <!--  -->



<section class="flex gap-2">
         <div class="class= h-[50px] rounded-[100%]  w-[50px] flex justify-center items-center bg-[blue] text-white">
          <i class="fa-solid fa-question text-2xl "></i>
         </div>
        <div class="h-[50px] w-[600px]  bg-[rgba(255,205,200,0.2)] flex justify-center items-center font-bold">
            <p class="text-xl ">What could possibly be your first question ?</p>
        </div>
    </section>   

     <section class="flex gap-2">
                <div class="h-[100px] w-[600px]  flex justify-center items-center bg-[rgba(255,205,200,0.2)]">
                    <p class="font-bold text-[14px]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, magnam quod. Eveniet, a eaque dolorem tempora dolor vel alias quidem minima praesentium? Ut corporis tenetur quo.</p>
                </div>
            <div class="class= h-[70px] flex justify-center items-center bg-[blue]  text-white rounded-[100%]  w-[70px]">
                <i class="fa-solid fa-brain text-4xl "></i>
            </div>
        
        
        </section>

        <!--  -->
        </main>
    </main>
</body>
</html>