<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>

    <main class=" flex items-center justify-evenly gap-10   h-[650px]">
        <section class="flex-col ">
        <section class=" flex justify-evenly items-center  h-[100px] w-[600px] relative">

                <div class="">
                    <img src="./img/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg" class="absolute rounded-[100%] h-[70px] w-[70px] left-[200px] bottom-[10px]   " alt="">
                
                <img src="./img/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg" class="absolute rounded-[100%] h-[70px] ] w-[70px]  bottom-[10px] " alt="">
            <img src="./img/pexels-simon-robben-55958-614810.jpg " class="absolute  bottom-[10px] rounded-[100%] h-[70px] w-[70px] left-[250px] " alt="">
        </div>

        </section>
            <div>
                <h1 class="text-6xl text-center font-bold mt-5   ">Get Started now</h1>
            </div>

            <div class="h-[100px] w-[500px] text-center mt-5"><p>Be part od millions people around the World using tails in user interfaces. </p></div>

<div class="flex justify-evenly items-center">
    <a href=""><button class="px-3 py-2 text-2xl bg-green-950 text-white rounded-2xl">Get Started</button></a>
    <a href=""><button class="px-3 py-2 text-2xl bg-black text-white rounded-2xl">More about</button></a>
</div>


    
        </section>
    </main>
    
</body>
</html>