<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>

    <main class="flex justify-evenly items-center">
        <section class="h-[500px] w-[1000px] flex flex-col items-center  ">
<div class="h-[300px] flex w-[600px] flex-col items-center justify-center">
    <p class="relative mr-[190px]">Trusted By</p>

<div class="flex items-center gap-4">


<div class="h-[100px] w-[300px] flex justify-end  items-center relative">

    <img src="./img/img1.jpg" alt="" class="absolute h-[50px] w-[50px] rounded-[50%] object-cover z-[-7]">
    <img src="./img/img2.jpg" alt="" class="absolute z-[-1] right-[135px] h-[50px] w-[50px] rounded-[50%] object-cover">
    <img src="./img/img3.avif" alt="" class="absolute h-[50px] right-[100px] z-[-5] w-[50px] rounded-[50%] object-cover">
    <img src="./img/img4.avif" alt="" class="absolute right-[70px] z-[-5] h-[50px] w-[50px] rounded-[50%] object-cover">
    <img src="./img/img5.avif" alt="" class="absolute h-[50px] right-[30px] z-[-4] w-[50px] rounded-[50%] object-cover">

</div>

<div>
    <p>join 5,000+ other members</p>
</div>
</div>
</div>
        </section>
    </main>
    
</body>
</html>