<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOOTER</title>
    <link rel="stylesheet" href="./output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <main
      class="h-[600px] bg-blue-950 text-white flex justify-evenly items-center"
    >
      <section class="flex items-center gap-4 h-[500px]">
        <div class="flex justify-evenly items-center h-[400px] w-[300px]">
         <section class="flex-col  ">

           <img src="./logo.png " class="bg-black mb-8" alt="" />
          
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          impedit, laborum ratione ut odio voluptates hic iure odit quos
        exercitationem?
      </p>
      <div class=" flex gap-3 mt-9 h-[50px]">
        <i class="fa-brands fa-instagram text-2xl font-bold "></i>
        <i class="fa-brands fa-youtube text-2xl font-bold"></i>
        <i class="fa-brands fa-tiktok text-2xl font-bold"></i>
        <i class="fa-brands fa-figma text-2xl font-bold"></i>
      </div>
    </section>
        </div>

        <div
          class="flex justify-center items-center h-[400px] w-[300px] ">
          <section class="ml-5">
            <div class="flex gap-3 items-center h-[50px]">
              <i class="fa-solid fa-phone"></i>
              <p>91 9979501082</p>
            </div>
            <div class="flex gap-3 items-center h-[50px]">
              <i class="fa-regular fa-envelope"></i>
              <p>abhibhalala07@gamil.com</p>
            </div>
            <div class="flex gap-3 items-center h-[50px]">
              <i class="fa-solid fa-location-dot"></i>
              <p>Parampara, Maruti Nandan Society, Mota Varachha, Surat,</p>
            </div>
          </section>
        </div>

        <div class=" flex justify-evenly items-center h-[400px] w-[300px] ">
          <section class="flex flex-col gap-4 ">
            <h1 class="text-2xl font-bold">Page</h1>
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Services</a>
            <a href="">Contact</a>
            <a href="">Blog</a>
            <a href="">Career</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
          </section>
        </div>

        <div class= "flex justify-evenly items-center  h-[400px] w-[300px]"
        >
        <section class="flex-col gap-5 justify-evenly items-center">
            <div><p class="text-2xl font-bold">Download The App</p></div>
        <div class="h-[50px] w-14 mt-4" >
          <i class="fa-brands fa-instagram text-2xl font-bold"></i>
        </div>
        <div class="h-[50px] w-14 mt-4" >
         <i class="fa-brands fa-linkedin text-2xl font-bold"></i>
        </div>
       
          </section>
    </div>

    </section>
    </main>
  <div class=" flex justify-evenly h-[100px] bg-blue-950">
    <div class="bg-white h-[0.5px] w-[700px]"  > .</div>

  </div>
  </head>
  <body></body>
</html>
