<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    <section class=" h-[500px] flex justify-evenly items-center">

        <div class="flex justify-evenly items-center border-solid h-[400px] w-[500px]">
            <div class="flex-col justify-evenly items-center h-[300px] w-[200px]">

                <h1 class="text-8xl font-bold text-black">404</h1>
            
            <h1 class="mt-4">Sorry, we couldn`t dind this page</h1>
        
        <button class="px-9 py-3 mt-3 rounded-3xl bg-slate-400">Back to Home</button>
        </div>
        </div>

    </section>
</body>
</html>