<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARDS</title>

    <link rel="stylesheet" href="./output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header>
    <nav>
        <section class="flex justify-between mx-16">
            <div><a href="">Acme inc</a></div>
            <div class="flex gap-5">
                <a href="">Aboutus</a>
                <a href="">Treaments</a>
                <a href="">Blog</a>
                <a href="">CONTACT US</a>
            </div>
        </section>
    </nav>
</header>

<main class="h-[700px]  flex justify-center items-center ">
    <section class="h-[500px] w-[1000px]  flex justify-center items-center gap-7">
        <div class="h-[300px] w-[300px]  flex flex-col gap-3 ">
            <div>
                <p class="text-blue-900 font-bold">Everthing you need</p>
            
                <p class="text-2xl font-bold">All-In-One Platform</p>
            </div>

            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque unde totam velit facilis beatae atque fugit nemo cupiditate labore?
                </p>
            </div>
        </div>

        <!-- invite team members -->

        <div class="h-[500px] w-[330px] flex flex-col gap-14 ">
            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">invite team members</p>
                </div>
                <div>
                    <p class="ml-[22px]">Rerum repellat labore necessitatibus repehenderit molestiae praesentium</p>
                </div>
            </div>
<!-- Keyboard Shortcut -->

            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Keyboard Shortcut</p>
                </div>
                <div>
                    <p class="ml-[22px]">In sit qui aliquid et. Ad nobis sunt omnis Quo sepiente dicta Laboriosam</p>
                </div>
            </div>

<!--  Notifications-->
            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Notifications</p>
                </div>
                <div>
                    <p class="ml-[22px]">Quos inventore harum enim nesciunt . Aut repellat rerum omnis adipisci.</p>
                </div>
            </div>

<!-- Repoting -->
            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Repoting</p>
                </div>
                <div>
                    <p class="ml-[22px]">Eos laudantion repellat sed architecto rarum unde incidunt. Illum sit dolores voluptatem.</p>
                </div>
            </div>


        </div>


        <!-- live -->

        <div class="h-[500px] w-[350px]  flex flex-col gap-14 ">
        
            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Live view</p>
                </div>
                <div>
                    <p class="ml-[22px]">Corporis asperiores ea nulla temporibus asperiores non tempore assumenda aut.</p>
                </div>
            </div>
<!-- Calendars -->

            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Calendars</p>
                </div>
                <div>
                    <p class="ml-[22px]">Sed rerum sunt dignissimos ullam. lusto iure occaecati volupate eligendi fugiat sequi</p>
                </div>
            </div>

<!-- Boards -->
            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Boards</p>
                </div>
                <div>
                    <p class="ml-[22px]">Quae sit sunt excepturi fugit veniam volupatem ipsum commodi</p>
                </div>
            </div>

<!-- Mobile App -->
            <div>
                <div class="flex gap-3 items-center">
                    <i class="fa-solid fa-check"></i> 
                    <p class="font-bold">Mobile App</p>
                </div>
                <div>
                    <p class="ml-[22px]">Null est saepe accusamus nostrum est fugit volupatatum omnis quidem voluptatem.</p>
                </div>
            </div>


        </div>

    </section>
</main>
<body>
    
</body>
</html>