<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERO_SECTION</title>
    <link rel="stylesheet" href="output.css">
</head>
<body>
    <main class="relative h-[600px] bg-cover bg-center z-1"  style="background-image: url(./lapotop-top.jpeg);">
        <section class="absolute h-[600px] w-full  flex justify-center items-center  bg-[rgba(0,0,0,0.6)]">

            <div class="h-[200px] w-[800px]">
                <div class="h-[200px] w-[800px] flex flex-col gap-10">

                    <div>
                        
                        <p class="text-center font-bold text-5xl text-white">Welcome to Awesome Website</p>
                  
                    
                    <p class="text-center text-white text-[14px]">Discover amazing features and services that await you.</p>
                </div>
            
            <div class="flex justify-center">
                <a href=""><button class="bg-[yellow] py-2 px-4 rounded-3xl">Get Started</button></a>
            </div>
        </div>
            </div>

        </section>
    </main>
    
</body>
</html>