<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    <section class=" flex h-[700px]">

        
        <div class=" h-[700px] w-[900px]">

            <p class= " h-[300px] text-3xl font-bold">Plant.</p>
            
        <div class="flex-col items-center   h-[400px] w-[900px]">
            <div class="text-3xl font-bold">Find your <span class="text-green-900"> greeny</span> stuff for your room</div>

            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias obcaecati ullam ea, tempora natus eveniet nisi, error nihil aliquid consequatur minima nostrum quaerat fuga quasi veritatis omnis neque quis asperiores.</p>

            <a href=""><button class="text-white text-2xl bg-[green] py-1  px-7 mt-3 ml-4">Learn More</button></a>

        </div>


        </div>
        <img src="./premium_photo-1666874682013-352924768df5.avif" alt="" class="object-cover	">


    </section>

        
        <!-- img -->
        

</body>
</html>