<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card - grid</title>
    <link rel="stylesheet" href="output.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main class="grid grid-cols-[400px,400px,400px] gap-5 mt-6 justify-center">
      <div class="border-2 h-[600px] rounded-2xl">
        <div
          class="h-[400px] bg-center bg-cover"
          style="background-image: url(./img/img1.jpg)"
        ></div>

        <p class="grid grid-rows-[50px] items-center ml-2">BRAND</p>

        <p class="text-2xl font-bold grid grid-rows-[30px] ml-2 items-center">
          Produtct Name
        </p>

        <div class="grid grid-cols-[50px,50px] relative mt-4 ml-2">
          <p class="font-bold text-[28px]">$149</p>
          <p class="line-through mt-1 ml-[22px] text-[20px]">$199</p>
          <i
            class="fa-solid fa-cart-shopping absolute text-2xl mt-3 ml-[350px]"
          ></i>
        </div>
      </div>

      <div class="border-2 h-[600px] rounded-2xl">
        <div
          class="h-[400px] bg-center bg-cover"
          style="background-image: url(./img/img2.jpg)"
        ></div>

        <p class="grid grid-rows-[50px] items-center ml-2">BRAND</p>

        <p class="text-2xl font-bold grid grid-rows-[30px] ml-2 items-center">
          Produtct Name
        </p>

        <div class="grid grid-cols-[50px,50px] relative mt-4 ml-2">
          <p class="font-bold text-[28px]">$149</p>
          <p class="line-through mt-1 ml-[22px] text-[20px]">$199</p>
          <i
            class="fa-solid fa-cart-shopping absolute text-2xl mt-3 ml-[350px]"
          ></i>
        </div>
      </div>
      <div class="border-2 h-[600px] rounded-2xl">
        <div
          class="h-[400px] bg-center bg-cover"
          style="background-image: url(./img/img3.jpg)"
        ></div>

        <p class="grid grid-rows-[50px] items-center ml-2">BRAND</p>

        <p class="text-2xl font-bold grid grid-rows-[30px] ml-2 items-center">
          Produtct Name
        </p>

        <div class="grid grid-cols-[50px,50px] relative mt-4 ml-2">
          <p class="font-bold text-[28px]">$149</p>
          <p class="line-through mt-1 ml-[22px] text-[20px]">$199</p>
          <i
            class="fa-solid fa-cart-shopping absolute text-2xl mt-3 ml-[350px]"
          ></i>
        </div>
      </div>
    </main>
    <main class="grid grid-cols-[400px,400px,400px] gap-5 mt-6 justify-center">
      <div class="border-2 h-[600px] rounded-2xl">
        <div
          class="h-[400px] bg-center bg-cover"
          style="background-image: url(./img/img4.jpg)"
        ></div>

        <p class="grid grid-rows-[50px] items-center ml-2">BRAND</p>

        <p class="text-2xl font-bold grid grid-rows-[30px] ml-2 items-center">
          Produtct Name
        </p>

        <div class="grid grid-cols-[50px,50px] relative mt-4 ml-2">
          <p class="font-bold text-[28px]">$149</p>
          <p class="line-through mt-1 ml-[22px] text-[20px]">$199</p>
          <i
            class="fa-solid fa-cart-shopping absolute text-2xl mt-3 ml-[350px]"
          ></i>
        </div>
      </div>
      <div class="border-2 h-[600px] rounded-2xl">
        <div
          class="h-[400px] bg-center bg-cover"
          style="background-image: url(./img/img5.jpg)"
        ></div>

        <p class="grid grid-rows-[50px] items-center ml-2">BRAND</p>

        <p class="text-2xl font-bold grid grid-rows-[30px] ml-2 items-center">
          Produtct Name
        </p>

        <div class="grid grid-cols-[50px,50px] relative mt-4 ml-2">
          <p class="font-bold text-[28px]">$149</p>
          <p class="line-through mt-1 ml-[22px] text-[20px]">$199</p>
          <i
            class="fa-solid fa-cart-shopping absolute text-2xl mt-3 ml-[350px]"
          ></i>
        </div>
      </div>
      <div class="border-2 h-[600px] rounded-2xl">
        <div
          class="h-[400px] bg-center bg-cover"
          style="background-image: url(./img/img6.jpg)"
        ></div>

        <p class="grid grid-rows-[50px] items-center ml-2">BRAND</p>

        <p class="text-2xl font-bold grid grid-rows-[30px] ml-2 items-center">
          Produtct Name
        </p>

        <div class="grid grid-cols-[50px,50px] relative mt-4 ml-2">
          <p class="font-bold text-[28px]">$149</p>
          <p class="line-through mt-1 ml-[22px] text-[20px]">$199</p>
          <i
            class="fa-solid fa-cart-shopping absolute text-2xl mt-3 ml-[350px]"
          ></i>
        </div>
      </div>
    </main>
  </body>
</html>
