<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT PAGE</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    
    <header>
        <nav>
            <section class="flex justify-between items-center m-5 ">

                <div class="text-4xl font-bold">WATCH.ME</div>

                <div class="text-xl mr-12">
                    <a href="" class="mr-[20px]">HOME</a>
                    <a href="" class="mr-[20px]">WATCH</a>
                    <a href="" class="mr-[20px]">PRODUCT</a>
                    <a href="" class="mr-[20px]">COBTACT</a>
                    <a href="" class="mr-[20px]">CARRER</a>
                </div>
                </section>
        </nav>
    </header>

    <main class="h-[700px]  flex justify-center items-center">
        <section class="h-[500px] w-[1000px] flex justify-evenly gap-5 items-center">

            <div class="h-[400px] w-[450px] flex flex-col gap-10">
                <p class="h-2 w-[90px] bg-black">.</p>
                <div class="h-[200px] w-[250px] ">
                    <p class="text-7xl font-bold">BE ON TIME</p>
                </div>
                <div>

                    <p>
                       Dimension of realitu that makes change possible and understandable . An indefinnite ans homogeneous enviroment is which nature ecents and humsn existence tack place. 
                    </p>
                </div>

            <div>
                <a href=""><button class="px-8 rounded-[50px] py-2 bg-[blue] text-white">GET STARTED</button></a>
                <a href=""><button class="px-8 rounded-[50px] border-2 border-[pink] py-2  ">READ MORE</button></a>
            </div>
            </div>

            <div class="h-[500px] w-[450px] flex justify-center items-center">
                <img class="h-[400px] w-[450px] object-cover" src="./watch-removebg-preview.png" alt="">

            </div>

           
        </section>
    </main>
</body>
</html>