<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT PAGE</title>
    <link rel="stylesheet" href="./output.css">
</head>

<body>

    <main class="h-screen flex justify-evenly items-center bg-red-100">
        <section class="h-[500px]  w-[1300px] gap-5 flex justify-evenly items-center shadow-lg shadow-[#51396d50]">

            <div class="h-[500px]  flex flex-col gap-10 w-[500px]">

                <div class="h-[400px] overflow-hidden object-cover">
                    <img src="./imgpruduct.jpg" alt="">
                </div>

                <div class="flex justify-evenly">
                    <a href=""><button
                            class="px-14 rounded-3xl font-bold py-2 text-white hover:bg-black duration-1000 bg-blue-600">Add
                            to Cart</button></a>
                    <a href=""><button
                            class="px-14 rounded-3xl font-bold py-2 bg-[#f3f3f3]  hover:bg-black duration-1000 hover:text-white">Add
                            to Wishilist</button></a>
                </div>
            </div>

            <!-- level 2 -->

            <div class="h-[480px] flex flex-col gap-2  w-[790px] ">

                <p class="text-2xl font-bold ml-3 ">Product Name</p>
                <p class="text-base ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cumque veniam
                    quasi nulla ratione nostrum laborum inventore eaque perferendis.</p>
                <div class="flex gap-5 ml-3">

                    <p class="text-lg font-bold">
                        Price:
                        <span class="text-lg text-[#000000a2]">$100</p>
                    <p class="text-lg font-bold"> Availability: <span class="text-lg text-[#000000a2]">In Stoct </span></p>

                </div>

                <div class="flex flex-col gap-3 ml-3">

            <p class="text-lg font-bold">Select Color:</p>

                <div class="flex gap-2">
                    <p class="bg-black h-9 w-9 rounded-[50%]"></p>
                    <p class="bg-[red] h-9 w-9 rounded-[50%]"></p>
                   <p class="bg-[blue] h-9 w-9 rounded-[50%]"></p>
                   <p class="bg-[pink] h-9 w-9 rounded-[50%]"></p>
                </div>

                </div>


                <div class="flex flex-col gap-3 ml-3">
                    <p class="text-lg font-bold"> Select Size:</p>
                    <div class=" flex gap-3 items-center ">
             <div class="bg-[#f3f3f3] h-9 w-9 rounded-[50%] flex justify-evenly items-center font-bold "> <p>S</p></div>
             <div class="bg-[#f3f3f3] h-9 w-9 rounded-[50%] flex justify-evenly items-center font-bold "> <p>M</p></div>
             <div class="bg-[#f3f3f3] h-9 w-9 rounded-[50%] flex justify-evenly items-center font-bold "> <p>L</p></div>
             <div class="bg-[#f3f3f3] h-9 w-12 rounded-[20px] flex justify-evenly items-center font-bold "> <p>XL</p></div>
             <div class="bg-[#f3f3f3] h-9 w-12 rounded-[20px] flex justify-evenly items-center font-bold "> <p>XXL</p></div>
        

                    </div>
                </div>

                <div class="flex flex-col gap-2 ml-3    ">
                    <p class="text-lg font-bold">Produtct Description:</p>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo atque nemo perferendis!
                        Nostrum omnis perferendis voluptates, velit excepturi sapiente incidunt Lorem ipsum dolor sit
                        amet consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam sint quidem tempore eum mollitia veniam, quo, expedita laudantium, obcaecati eveniet nostrum cumque quibusdam. Odit, sequi adipisci praesentium placeat minima omnis!
                    </div>
                </div>
            </div>

        </section>
    </main>

</body>

</html>