.topSlider {
  height: 100%;
  color: white;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.Slideroutline {
  position: absolute;
  top: 17px;
  right: 6px;

  border: 1px solid green;
  width: 80px;
  height: 1px;
}

.Slideroutline2 {
  position: absolute;
  top: 19px;
  right: 1px;

  border: 1px solid green;
  width: 90px;
  height: 1px;
}
