<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="./output.css" />
  </head>
  <body>
    <header>
      <nav class="grid grid-cols-[100px,600px,100px] gap-20 relative">
        <p class="text-4xl font-bold">Gallery</p>

        <p>
          This is a section od some simple fillter .text,also known as
          palaceholder text it shares text .it shares some characteristics of a
          real written text.
        </p>

        <div></div>
        <a href=""
          ><button
            class="absolute top-[10px] left-[1200px] px-3 py-1 border-2 rounded"
          >
            More
          </button></a
        >
      </nav>
    </header>

    <div class="grid grid-cols-3 gap-4">
      <div
        class="h-[400px] relative bg-center"
        style="background-image: url('./img/idf.jpg')"
      >
        <p class="absolute bottom-3 left-4 text-white">VR</p>
      </div>
      <div
        class="border-2 bg-center col-span-2 h-[400px] relative"
        style="background-image: url('./img/photo_2024-06-13_11-10-36.jpg')"
      >
        <p class="absolute bottom-3 left-4 text-white">Tech</p>
      </div>

      <div
        class="border-2 h-[300px] col-span-2 relative bg-center"
        style="background-image: url(./img/ing3.jpg)"
      >
        <p class="absolute bottom-3 left-4 text-white">Dev</p>
      </div>
      <div
        class="h-[300px] relative bg-center"
        style="background-image: url(./img/img5.jpg)"
      >
        <p class="absolute bottom-3 left-4 text-white">Retro</p>
      </div>
    </div>
  </body>
</html>
